<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Daftar Token</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" th:href="@{/webjars/materializecss/0.100.2/css/materialize.min.css}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" th:src="@{/webjars/materializecss/0.100.2/js/materialize.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
