<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tambah Token</title>
    </head>
    <body>
        <form action="">
            <div>
                <label for="kode">Kode Token</label>
                <input type="text" name="kode" id="kode"/>
            </div>
            <div>
                <label for="nama">Nama Token</label>
                <input type="text" name="nama" id="nama"/>
            </div>
            <div>
                <label for="harga">Harga Token</label>
                <input type="text" name="harga" id="harga"/>
            </div>
            <div>
                <button type="submit">Kirim</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </body>
</html>
